# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# SQLite database
backen.db

# Environment variables
.env
.env.*

# Logs
*.log
pytest.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
